.jumbotron{
    background-image: url(https://i.imgur.com/Hd32BQo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

 
    height: 600px;
    
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-weight: bold;
    font-size:20px;
   
}
.lead{
    width:50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
    
    
}
.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

p{
    
}
.welcome{
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    text-align: left;
}

.btn{
    background-color: coral;
    font-family: 'Montserrat', sans-serif;
}

.about{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}