.navbar-brand{
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 35px!important;
}
.navbar-nav{
    float: right!important;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size:20px;
}
.navbar-collapse 
{
    text-align: right!important;
}
.space-filler
{
    flex:1 1;
}