.navbar-brand{
    font-family: 'Indie Flower', cursive;

    font-size: 35px!important;
    
}
.navbar-nav{
    float: right!important;
    font-family: 'Poppins', sans-serif;
    font-size:20px;

}
.navbar-collapse 
{
    text-align: right!important;
}
.space-filler
{
    flex:1 1;
}
.bg-light {
    background-color:white !important;
}